.containerSettings{
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 1300px;
margin: auto;
}

label{
    width: 40%;
    // max-width: 400px;
    height: 300px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border: 2px solid white ;
    margin: 10px;

    }
 
      @for $i from 1 through 4 {
        .label:nth-child(#{$i}){
    
            @if $i  == 1 {
                animation: 1s ease-out  1 slideInFromTop ;
    
              } @else if $i  == 2  {
                animation: 1s ease-out  1 slideInFromBottom ;
    
              }
             @else if $i  == 3  {
                animation: 1s ease-out  1 slideInFromLeft ;
    
              }
              @else {
                animation: 1s ease-out  1 slideInFromRight ;
    
              }
              
    
        }
      }
    
    @keyframes slideInFromRight {
        from { transform: translateX(3000px); opacity: 0.5; }
        to { transform: translateX(0); opacity: 1; }
      }
      @keyframes slideInFromTop {
        from { transform: translateY(-1000px); opacity: 0.5; }
        to { transform: translateY(0); opacity: 1; }
      }
      @keyframes slideInFromBottom {
        from { transform: translateY(1000px); opacity: 0.5; }
        to { transform: translateY(0); opacity: 1; }
      }
      @keyframes slideInFromLeft {
      from { transform: translateX(-1000px); opacity: 0.5; }
      to { transform: translateX(0); opacity: 1; }
      }
    
    

    input{
        -webkit-appearance: none;
appearance: none;
    }
    
    .borderGreen{
        border: 2px solid green 
           }

    